# Grabbing images with 0-6 sperm cell count
### This notebook grabs teh images with a 1-6 sperm cell count utilizing the sperm_counts_per_frame.csv It will also combine the sperm_counts and BBs into one file and save those with the images in a new folder

In [30]:
import pandas as pd
import numpy as np
import os as os
import shutil

In [31]:
#Change to your directory
counts = pd.read_csv("C:/Users/Derrick Mayall/GitHub_Repos/6165/Data/Counts1-6 Data/sperm_counts_per_frame.csv")
bb = pd.read_csv("C:/Users/Derrick Mayall/GitHub_Repos/6165/Data/sperm_all_BBs.csv", sep=' ')
counts

          frame_name   sperm_count   cluster_count   small_or_pinhead_count
0         11_frame_0            43               0                        0
1         11_frame_1            43               0                        0
2         11_frame_2            43               0                        0
3         11_frame_3            43               0                        0
4         11_frame_4            43               0                        0
...              ...           ...             ...                      ...
29191  82_frame_1495            31               0                        3
29192  82_frame_1496            31               0                        3
29193  82_frame_1497            31               0                        3
29194  82_frame_1498            31               0                        3
29195  82_frame_1499            31               0                        3

[29196 rows x 4 columns]

In [32]:
bb

,frame_name,fid,class,bb0,bb1,bb2,bb3
0,11_frame_0_with_ftid,ckz3v9nzv00033867jsekqdcl,0,0.275781,0.412500,0.026562,0.037500
1,11_frame_0_with_ftid,ckz6ru2eb0001386lefk6js4m,0,0.238281,0.583333,0.026562,0.037500
2,11_frame_0_with_ftid,ckz6ru3um0003386l39xwv0yk,0,0.246094,0.847917,0.026562,0.037500
3,11_frame_0_with_ftid,ckz6ru5610005386l8uoys4lc,0,0.194531,0.845833,0.026562,0.037500
4,11_frame_0_with_ftid,ckz6ru6of0007386lhf2t4dtw,0,0.083594,0.806250,0.026562,0.037500
...,...,...,...,...,...,...,...
656330,82_frame_1499_with_ftid,cl4za2v3u000c3y6fc6jz65yn,0,0.629687,0.304167,0.028125,0.037500
656331,82_frame_1499_with_ftid,cl4za4fnb000g3y6frpvd1jm6,0,0.335156,0.630208,0.039062,0.052083
656332,82_frame_1499_with_ftid,cl4zaco4r000k3y6fa7pk88t5,0,0.562500,0.378125,0.034375,0.052083
656333,82_frame_1499_with_ftid,cl5mo9vaj00033b6gb6jraptt,2,0.264062,0.664583,0.015625,0.020833
656334,82_frame_1499_with_ftid,cl5modn3m000a3b6gto9tq5oy,2,0.278125,0.627083,0.015625,0.016667

In [33]:
#getting all instances in range 0-10
counts = counts[counts[' sperm_count'].isin(range(0,7))]
counts

         frame_name   sperm_count   cluster_count   small_or_pinhead_count
4410     14_frame_0             3               0                        0
4411     14_frame_1             3               0                        0
4412     14_frame_2             3               0                        0
4413     14_frame_3             3               0                        0
4414     14_frame_4             3               0                        0
...             ...           ...             ...                      ...
23739  52_frame_423             6               0                        2
23740  52_frame_424             6               0                        2
23741  52_frame_425             6               0                        2
23742  52_frame_426             6               0                        2
23743  52_frame_427             6               0                        2

[5546 rows x 4 columns]

In [34]:
#making columns to make later processes work faster such as grabbing folder name and frame numbers
counts['folder'] = [i[:2] for i in counts['frame_name']]
counts

C:\Users\Derrick Mayall\AppData\Local\Temp\ipykernel_23516\4259832813.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counts['folder'] = [i[:2] for i in counts['frame_name']]

,frame_name,sperm_count,cluster_count,small_or_pinhead_count,folder
4410,14_frame_0,3,0,0,14
4411,14_frame_1,3,0,0,14
4412,14_frame_2,3,0,0,14
4413,14_frame_3,3,0,0,14
4414,14_frame_4,3,0,0,14
...,...,...,...,...,...
23739,52_frame_423,6,0,2,52
23740,52_frame_424,6,0,2,52
23741,52_frame_425,6,0,2,52
23742,52_frame_426,6,0,2,52
23743,52_frame_427,6,0,2,52

In [38]:
#Creating new directory and copyting the data in this df to it
new_directory = "C:/Users/Derrick Mayall/GitHub_Repos/6165/Data/Train_test/"

if not os.path.exists(new_directory):
    os.mkdir(new_directory)

In [39]:
#looping through folders and copying folders over
directory = "C:/Users/Derrick Mayall/GitHub_Repos/6165/Data/Counts1-6 Data/"

for i in counts['folder'].unique():
    temp = counts[counts['folder'] == i]
    for j in temp['frame_name'].unique():
        file = directory + i + '/images/' + j + '.jpg'
        destination = new_directory + '/' + j + '.jpg'
        shutil.copy( file, destination)

In [49]:
#making the frame_name in bb line up with counts
bb['frame_name'] = bb['frame_name'].str.replace(r'_with_ftid$', '', regex=True)
#Combining the CSV files together for ease of access (coutns and bb)
merged = counts.merge(bb, how="left", left_on="frame_name", right_on="frame_name")
merged

,frame_name,sperm_count,cluster_count,small_or_pinhead_count,folder,fid,class,bb0,bb1,bb2,bb3
0,14_frame_0,3,0,0,14,ckyw6zzlj001r3867thf0fuy7,0,0.208594,0.825000,0.035937,0.037500
1,14_frame_0,3,0,0,14,ckyw704kw001v3867kvyjtx6k,0,0.796094,0.797917,0.029687,0.037500
2,14_frame_0,3,0,0,14,ckyw708pn001z386779fr849h,0,0.827344,0.123958,0.035937,0.039583
3,14_frame_1,3,0,0,14,ckyw6zzlj001r3867thf0fuy7,0,0.208594,0.814583,0.035937,0.037500
4,14_frame_1,3,0,0,14,ckyw704kw001v3867kvyjtx6k,0,0.764062,0.781250,0.029687,0.037500
...,...,...,...,...,...,...,...,...,...,...,...
19836,52_frame_427,6,0,2,52,cl1x89ze6000o3f6baic4zklo,0,0.464062,0.462500,0.037500,0.054167
19837,52_frame_427,6,0,2,52,cl1x8a7j3000s3f6bvn1rm1tw,0,0.416406,0.400000,0.029687,0.045833
19838,52_frame_427,6,0,2,52,cl1x8ih7n00103f6b67egfbw2,0,0.057031,0.803125,0.032813,0.043750
19839,52_frame_427,6,0,2,52,cl52g254u000o3b6gcyhoi1fk,2,0.132031,0.112500,0.026562,0.037500
19840,52_frame_427,6,0,2,52,cl52g4ex1000s3b6g2941ltlj,2,0.297656,0.729167,0.039062,0.050000

In [50]:
#Putting the data file into the train_test location
merged.to_csv('C:/Users/Derrick Mayall/GitHub_Repos/6165/Data/Train_test/Counts_BB.csv')